template.blog-post: include:markdown ./posts/DeployingToNpmWithTravisCI.md
template.blog-post: include:markdown ./posts/SurfaceTwoYearsLater.md
template.blog-post: include:markdown ./posts/JavascriptsForgottenImportSystem.md

.blog(ng-style='backgroundStyle')
    div(ui-view='')
