template.blog-post: include:markdown ./posts/first-blog-post.md

.blog
    md-content.md-padding.blog-posts(ng-repeat='post in blogPosts')
        md-card
            img.md-card-image.blog-post-image(ng-if='post.metadata.img' ng-src='{{post.metadata.img}}')
            md-card-content
                h1.md-display-2.blog-title {{ post.metadata.title }}
                div(ng-bind-html='post.content')
                    
            .md-actions(layout='row' layout-align='center')
                md-button(ng-click='revealPost(post.id)') Read More
