template.blog-post: include:markdown ./posts/first-blog-post.md

.blog
    .container-fluid.blog-posts(ng-repeat='post in blogPosts')
        md-card
            h2(ng-bind-html='post.tags')
            md-card-content(ng-bind-html='post.content')
