md-content.blog-posts
    md-card
        .blog-post-image-container
            img.md-card-image.blog-post-image(ng-if='post.img' ng-src='{{post.img}}')
        md-card-content
            h3.md-display-1.blog-title {{ post.title }}
            .blog-post-content
                div(ng-bind-html='post.content')
