p, h1, h2, h3, h4, li {
  font-family:'Raleway', sans-serif;
}

.indented {
  padding-left: 40px;
}

body {
  background-color: #1F1F1F;
  font-weight: 300;
}

.main {
  width: 700px;
  background-color: #FFFFFF;
  padding-left: 25px;
}

.main header {
  padding-bottom: 15px;
  border-bottom: 2px solid #DDDDDD;
}

.main header .fa {
  padding-right: 10px;
}

.main header .header-col {
  padding-top: 40px;
}

.category-row {
  padding-bottom: 2px;
}

.category-row .category {
  margin-right: 10px;
  padding-left: 5px;
  padding-right: 10px;
  border-bottom: 1px solid #DDDDDD;
  border-right: 1px solid #DDDDDD;
}

.category-row .category p, .category-row .category li {
  font-size: smaller;
}

.category-row .no-bottom {
  border-bottom: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}