doctype html
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='initial-scale=1, width=device-width')
        meta(name='google-site-verification' content='GgM4ErIXdfnTBXxQcBOW99jjI6VBc9un0m7t6wxpYwI')
        title Ryan Delaney

        if debug
            link(href='libs.css' rel='stylesheet')
            script(src='libs.js')

        link(href='app.css' rel='stylesheet')
        script(src='app.js')

    body(ng-app='site')
        div.view(ui-view)
            
    if package
        include ./home/index
        include ./resume/index
        include ./blog/index
