$font-family-sans-serif ?= Raleway
$icon-font-path ?= 'fonts/'
$icon-font-svg-id ?= ''

@require 'bootstrap-stylus/bootstrap'

.home-wrapper
    @media screen and (min-width: $screen-sm-min)
        padding-top 50px

    @media screen and (max-width: $screen-sm-min)
        padding-top 56px

.nav, .pagination, .carousel, .panel-title a
    cursor pointer
