@require variables

// Bootstrap theming and imports
$brand-primary ?= site_blue
$brand-success ?= site_green
$brand-info ?= site_light_blue
$font-family-sans-serif ?= Raleway
$navbar-default-bg ?= site_white
$well-border ?= site_grey

@require 'bootstrap-stylus/bootstrap'

// FontAwesome imports
@import 'font-awesome/css/font-awesome.css'
@font-face
    font-family 'FontAwesome'
    src url('fonts/fontawesome-webfont.eot')
    src url('fonts/fontawesome-webfont.woff2')
    src url('fonts/fontawesome-webfont.woff')
    src url('fonts/fontawesome-webfont.ttf')
    src url('fonts/fontawesome-webfont.svg')

.home-wrapper
    @media screen and (min-width: $screen-sm-min)
        padding-top 50px

    @media screen and (max-width: $screen-sm-min)
        padding-top 56px

.nav, .pagination, .carousel, .panel-title a
    cursor pointer
