@require variables

// Bootstrap theming and imports
$brand-primary ?= site_blue
$brand-success ?= site_green
$brand-info ?= site_light_blue
$font-family-sans-serif ?= Raleway
$navbar-default-bg ?= site_white
$well-border ?= site_grey

$icon-font-path ?= 'fonts/'
$icon-font-svg-id ?= ''

@require 'bootstrap-stylus/bootstrap'

.home-wrapper
    @media screen and (min-width: $screen-sm-min)
        padding-top 50px

    @media screen and (max-width: $screen-sm-min)
        padding-top 56px

.nav, .pagination, .carousel, .panel-title a
    cursor pointer
