@require raleway
@require bootstrap
@require 'animate.css/animate.css'
@require 'material-color/material-color-prefixed'
@require 'angular-material/angular-material.css'
md-icon.fa.fa-2x
    margin-top -7.55px

$fa-font-path ?= 'fonts'
@require 'font-awesome-stylus/stylus'
