@font-face
    font-family 'Raleway'
    font-weight 200
    src url('fonts/raleway@200.woff2')

@font-face
    font-family 'Raleway'
    font-weight 700
    src url('fonts/raleway@700.woff2')

@font-face
    font-family 'Raleway'
    font-weight 400
    src url('fonts/raleway.woff2')
