@font-face
    font-family 'Raleway'
    font-weight 200
    src url('fonts/raleway@200.woff2')
    src url('fonts/raleway@200.ttf')

@font-face
    font-family 'Raleway'
    font-weight 700
    src url('fonts/raleway@700.woff2')
    src url('fonts/raleway@700.ttf')

@font-face
    font-family 'Raleway'
    font-weight 400
    src url('fonts/raleway.woff2')
    src url('fonts/raleway.ttf')

h1, h2, h3, h4, h5, h6, p, a
    font-family 'Raleway'
