Raleway(sizes)
    for size in sizes
        @font-face
            font-family 'Raleway'
            font-weight size
            src url('fonts/raleway@'+size+'.woff2')
            src url('fonts/raleway@'+size+'.ttf')

Raleway(200 400 500 700)


h1, h2, h3, h4, h5, h6, p, a, li
    font-family 'Raleway'
