.blog
    height 100vh
    background-image url('img/blog-background.jpg')

    .blog-posts
        max-width 1000px
        background-color transparent

        .blog-post-image
            max-height 250px
