.blog
    height 100%
    min-height 100vh

    .blog-posts
        margin 0 auto
        max-width 1000px
        background-color transparent

        .blog-post-image
            max-height 250px

        .blog-post-content
            position relative

            .blurred-content
                max-height 20em
                overflow hidden

                &::after
                    content ""
                    background-image linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 100%)
                    bottom 0em
                    height 8em
                    position absolute
                    width 100%
