letterCount = 7
letterDelay = .15
letterAnimationTime = letterCount * letterDelay

wordCount = 2
wordDelay = .5
wordAnimationTime = (wordCount + 1) * wordDelay

totalAnimationTime = letterAnimationTime + wordAnimationTime + .5

.home
    height 100vh
    color white

    .main
        margin 0 auto
        text-align center
        padding-top 10vh

        .name
            .letter
                font-size 400%
                padding-left 2px
                padding-right 2px
                animation-duration letterDelay

                for index in (2..letterCount)
                    &:nth-child({index})
                        animation-delay unit((index - 1) * letterDelay, 's')

            .space
                padding-left 10px
                padding-right 10px

        .description
            .line
                for index in (1..wordCount)
                    &:nth-child({index})
                        animation-delay unit((index * wordDelay) + letterAnimationTime, 's')

    .buttons
        margin 0 auto
        text-align center

        .md-button
            animation-delay unit(totalAnimationTime, 's')
