.resume
    background-color #1F1F1F
    min-height 100vh

    .main
        height 100%
        width 700px
        background-color #FFFFFF
        padding 0 25px
        margin 0 auto

        .header
            border-bottom 2px solid #DDDDDD

            .page-title-container
                margin 0 auto
                text-align center
                padding 10px 0

            .page-title
                font-size 48pt
                display inline

            .page-title-first
                font-weight 400

            .page-title-last
                font-weight 200

            .header-icons
                text-align center

                .page-subhead
                    margin 1rem 15px
                    display inline

            .fa
                padding-right 10px

        .indented
            padding-left 40px

        .category-row
            padding-bottom 2px

            .category
                margin-right 10px
                padding-left 5px
                padding-right 10px
                border-bottom 1px solid #DDDDDD
                border-right 1px solid #DDDDDD

            .category-row-title
                margin .4rem 0

            .category-title, .category-subtitle
                display inline
                margin-top 10px
                margin-bottom 5px

            .category-bullets
                margin-top 5px

            p, li
                font-size smaller

            .no-bottom
                border-bottom 0
                padding-bottom 0
                margin-bottom 0
