.home
    .main
        .name
            .word
                span.letter.animated.fadeIn R
                span.letter.animated.fadeIn Y
                span.letter.animated.fadeIn A
                span.letter.animated.fadeIn N
            .word
                span.letter.animated.fadeIn D
                span.letter.animated.fadeIn E
                span.letter.animated.fadeIn L
                span.letter.animated.fadeIn A
                span.letter.animated.fadeIn N
                span.letter.animated.fadeIn E
                span.letter.animated.fadeIn Y
            
        .description
            h3.line.animated.fadeInUp DEVELOPER
            h3.line.animated.fadeInUp ENGINEER
            h3.line.animated.fadeInUp FUKBOI
