.home
    .main
        .name
            .word
                span.letter.animated.fadeIn R
                span.letter.animated.fadeIn Y
                span.letter.animated.fadeIn A
                span.letter.animated.fadeIn N
            .word
                span.letter.animated.fadeIn D
                span.letter.animated.fadeIn E
                span.letter.animated.fadeIn L
                span.letter.animated.fadeIn A
                span.letter.animated.fadeIn N
                span.letter.animated.fadeIn E
                span.letter.animated.fadeIn Y
            
        .description
            h3.line.animated.fadeInUp SOFTWARE ENGINEER
            h3.line.animated.fadeInUp WEB DEVELOPER
            h3.line.animated.fadeInUp ESOTERIC HUMAN
            
    .buttons
        md-button.md-fab.animated.fadeIn(ui-sref='resume')
            md-icon.fa.fa-2x(md-font-icon='fa-file-text')
            md-tooltip Resume

        md-button.md-fab.animated.fadeIn(ui-sref='blog')
            md-icon.fa.fa-2x(md-font-icon='fa-pencil')
            md-tooltip Blog
            
        md-button.md-fab.animated.fadeIn(href='https://github.com/rrdelaney')
            md-icon.fa.fa-2x(md-font-icon='fa-github')
            md-tooltip Github
