mixin letter(display)
    span.letter.fadeIn(ng-class='animationEnabled ? "animated" : ""')= display
    
mixin line(display)
    h3.line.fadeInUp(ng-class='animationEnabled ? "animated" : ""')= display
    
mixin button(text)
    md-button.md-raised.fadeIn(ui-sref=sref ng-class='animationEnabled ? "animated" : ""')&attributes(attributes)= text

        
.home(ng-style='backgroundStyle')
    .main
        .name
            .word
                +letter('R')
                +letter('Y')
                +letter('A')
                +letter('N')
            .word
                +letter('D')
                +letter('E')
                +letter('L')
                +letter('A')
                +letter('N')
                +letter('E')
                +letter('Y')
            
        .description
            +line('SOFTWARE ENGINEER')
            +line('WEB DEVELOPER')
            
        .buttons
            .top-buttons
                +button('Resume').md-primary(ui-sref='resume')
                +button('Blog').md-primary(ui-sref='blog')
                +button('Github').md-primary(href='https://github.com/rrdelaney')
            .bottom-buttons
                +button('About').md-accent(ui-sref='home/about')
                +button('Projects').md-accent(ui-sref='home/projects')
        
    md-button.md-icon-button.md-primary.sidenav-button(md-ripple-size='partial' ng-click='toggleSidenav()' ng-show='isSmall()')
        md-icon.fa(md-font-icon='fa-bars')
